*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    overflow-x: hidden;
    background: #F7F9F2;
}
.head{
    height: 50px;
    width: 100%;
    background: linear-gradient(rgba(152, 125, 154,1),rgba(238, 206, 185,1));
    display: flex;
    font-family: "Noto Serif Bengali", serif;
    position: fixed;
    top: 0;
    z-index: 999;
}
.logo{
    height: 50px;
    width: 90%;   
}
.dot3{
    height: 50px;
    width: 10%;
}
.dot3 img{
    height: 30px;
    width: 30px;
    margin-top: 10px;
}
.dot3 img:hover{
    
}
.manu{
    height: auto;
    width: 220px;
    background: linear-gradient(rgba(152, 125, 154,1),rgba(238, 206, 185,1));
    margin-top: 55px;
    position: absolute;
    right: 0;
    display:none;
    border-radius: 15px;
    z-index:999;
}

.manu ul li{
    list-style-type: none;
    margin: 20px;
}
.manu ul li a{
    text-decoration: none;
    color:black;
}
.manu ul li a:hover{
    color: rgba(0,0,0,0.4);
}
@media screen and (min-width:980px){
    .dot3{
        display: none;
    }
    .manu{
        display: block;
        height: 100lvh;
        width: 20%;
        border-radius: 1px;
    }
}